GOOGLE_SHEET_ID=PASTE_GOOGLE_SHEET_ID_HERE
GOOGLE_FORM_RESPONSE_TAB=Form Submission
PROPOSAL_LOG_TAB=Proposal Log

WASSENGER_API_TOKEN=PASTE_WASSENGER_API_TOKEN_HERE

GMAIL_SENDER_NAME=AKcelerateHQ
AGENCY_EMAIL=akceleratehq@gmail.com
AGENCY_WEBSITE=https://akceleratehq.com
AGENCY_WHATSAPP=+91 8208555380
